{% extends 'ProyectoHistoryArApp/header.html' %}
{% load static %}
{% block contenidoPagina %}

<div class="container mt-5">
    <h1 class="fw-bold text-white h3 text-center mb-3">Detalle Usuario</h1>

    <div class="d-flex row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6 rounded">
            <div class="card text-center">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{usuario.imagen}}" class="rounded-circle" height="120" width="120" alt="Foto de perfil del usuario">
                        </div>
                        <div class="col-12 justify-content-center d-flex">
                            <hr class="mt-3 text-success" style="height: 3px;width: 25%;opacity: 1;">
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="col-12 mt-2 d-flex justify-content-start align-items-center">
                                <div class="col-5 text-start">
                                    <h5 class="card-title">Nombre:</h5>
                                </div>
                                <div class="col-6 text-start">
                                    <p class="card-title">{{usuario.nombre|capfirst}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="col-12 text-start">
                                <h5 class="card-title">Nombre:</h5>
                            </div>
                            <div class="col-12 text-start">
                                <hp class="card-title">{{usuario.nombre|capfirst}}</p>
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="col-12 mt-2 d-flex ">
                                <div class="col-3 col-lg-5 text-start">
                                    <h5 class="card-title">Email:</h5>
                                </div>
                                <div class="col-9 col-lg-6 text-start">
                                    <p class="card-title">{{usuario.email}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="col-12 text-start">
                                <h5 class="card-title">Email:</h5>
                            </div>
                            <div class="col-12 text-start">
                                <hp class="card-title">{{usuario.email}}</p>
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="col-12 mt-2 d-flex">
                                <div class="col-6 text-start">
                                    <h5 class="card-title">Recorrido Favorito:</h5>
                                </div>
                                <div class="col-6 text-start">
                                    <hp class="card-title">{{usuario.recorridoFavorito|capfirst}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="col-12 text-start">
                                <h5 class="card-title">Recorrido Favorito:</h5>
                            </div>
                            <div class="col-12 text-start">
                                <hp class="card-title">{{usuario.recorridoFavorito|capfirst}}</p>
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="col-12 mt-2 d-flex">
                                <div class="col-6 text-start">
                                    <h5 class="card-title">Ultimo Recorrido:</h5>
                                </div>
                                <div class="col-6 text-start">
                                    <p class="card-title">{{usuario.ultimosRecorridos|capfirst}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                                <div class="col-12 text-start">
                                    <h5 class="card-title">Ultimo Recorrido:</h5>
                                </div>
                                <div class="col-12 text-start">
                                    <p class="card-title">{{usuario.ultimosRecorridos|capfirst}}</p>
                                </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}