{% extends 'ProyectoHistoryArApp/header.html' %}
{% load static %}

{% block contenidoPagina %}
{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

<div class="container mt-5">

    <h1 class="fw-bold text-white h3">Puntos de Interes</h1>
    
    <div class="d-flex row justify-content-between">
        <div class="col-md-6 col-12">
            <div class="btn-group" >
                <a href="{% url 'crear_punto_interes' %}" class="btn btn-primary active"  data-mdb-ripple-init>Nuevo Punto de Interes</a>
                <a href="{% url 'crear_punto_interes' %}" class="btn btn-primary"  data-mdb-ripple-init>+</a>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
          <form method="GET" enctype="multipart/form-data">
              
              <div class="input-group justify-content-md-end">
                  <div class="form-outline">
                      <input type="search" id="buscar" name="buscar" class="form-control"
                          placeholder="Buscar" />
                  </div>
                  <button type="submit" class="btn btn-primary">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
          </form>
        </div>
    </div>
    <div class="row justify-content-center">
        
        <div class="col table-responsive-lg">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Nombre</th>
                    <th>Longitud</th>
                    <th>Latitud</th>
                    <th>Modelo</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for puntos in puntos_interes %}
                  <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                src="{{puntos.imagen}}"
                                alt="Imagen del punto de interes {{puntos.nombre|capfirst}}"
                                style="width: 50px; height: 50px"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">{{puntos.nombre|capfirst}}</p>
                            </div>
                          </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{puntos.longitud}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{puntos.latitud}}</p>
                    </td>
                    <td>
                      <p class="card-title">{{ puntos.modelo|slice:":20" }}</p>
                    </td>
                    <td>
                      {% if puntos.activo == False %}
                      <i class="fa-solid fa-circle-xmark ms-2" style="color: red;"></i>
                      {% else %}
                      <i class="fa-solid fa-circle-check ms-2" style="color: green;"></i>
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'detalle_punto_interes' puntos.id %}" data-mdb-toggle="tooltip" data-mdb-placement="top" title="ver punto de interes"><i style="color:blue"
                        class="fa-solid fa-eye"></i></a>
                      <a href="{% url 'editar_punto_interes'  puntos.id  %}" data-mdb-toggle="tooltip" data-mdb-placement="top" title="Editar punto de interes"><i style="color:green"
                              class="fa-solid fa-pencil"></i></a>
                      <a href="{% url 'eliminar_punto_interes' puntos.id %}" data-mdb-toggle="tooltip" data-mdb-placement="top" title="Eliminar punto de interes"><i style="color:red"
                              class="fa-solid fa-trash-can"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            <div class="m-5">
              {% include 'ProyectoHistoryArApp/paginator.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}