{% extends 'ProyectoHistoryArApp/header.html' %}
{% load static %}

{% block contenidoPagina %}

<section>
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <div class="card bg-dark text-white">
                    <img src="/media/images/4.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row text-white mt-5">
                        <div class="col-6">
                            <h2>Recorrido Obelisco - Colon</h2>
                            <div class="d-flex h4 mt-4">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <h2>Duracion: 35 Minutos</h2>
                        </div>
                        <div class="col-12 mt-4">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo tenetur voluptatum corporis voluptas. Dolore, placeat. Ullam illo aspernatur maxime ad distinctio perspiciatis, autem voluptatibus dolores nam in repellendus fuga.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo tenetur voluptatum corporis voluptas. Dolore, placeat. Ullam illo aspernatur maxime ad distinctio perspiciatis, autem voluptatibus dolores nam in repellendus fuga.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo tenetur voluptatum corporis voluptas. Dolore, placeat. Ullam illo aspernatur maxime ad distinctio perspiciatis, autem voluptatibus dolores nam in repellendus fuga.
                            </p>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="d-flex" style="align-items: center;">
                                <h1>Comentarios</h1>
                                <h5 class="mb-0"><i class="fa-solid fa-circle-exclamation ms-4" style="color: #ffffff;"></i></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}