{% extends 'ProyectoHistoryArApp/header.html' %}
{% load static %}

{% block contenidoPagina %}
{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

<div class="container mt-5">

    <h1 class="fw-bold text-white h3">Transacciones</h1>
    
    <div class="d-flex row mb-2">
      <div class="col-md-6 col-12 mb-4">
        <form method="GET" enctype="multipart/form-data">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="buscar" name="buscar" class="form-control"
                        placeholder="Buscar" />
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col table-responsive-lg">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Usuario</th>
                    <th>Precio</th>
                    <th>Fecha Creacion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaccion in transacciones %}
                  <tr>
                    <td>
                        <div class="d-flex align-items-center">
                          <div class="ms-3">
                            <p class="fw-bold mb-1">{{transaccion.usuario}}</p>
                            <p class="text-muted mb-0">{{transaccion.email}}</p>
                          </div>
                        </div>
                      </td>
                    <td>
                      <p class="fw-normal mb-1">{{transaccion.precio}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{transaccion.fechaCreacion}}</p>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            <div class="m-5">
              {% include 'ProyectoHistoryArApp/paginator.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}