{% extends 'ProyectoHistoryArApp/header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenidoPagina %}

<div class="container mt-5">
    {% if editar %}
    <h1 class="fw-bold text-white h3">Editar Usuario</h1>
    {% else %}
    <h1 class="fw-bold text-white h3">Crear Usuario</h1>
    {% endif %}    
    <div class="d-flex row justify-content-center">
        <div class="col-6 rounded" style="background-color: white;">
            <form class="m-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mb-2">
                    <input type="submit" class="btn btn-outline-primary" 
                    value="{% if editar %}Editar{% else %}Crear{% endif %} usuario">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}