{% extends 'ProyectoHistoryArApp/header.html' %}
{% load static %}

{% block contenidoPagina %}

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 p-0" style="position: absolute;z-index: 1;">
        <div class="card" style="background-color: transparent;color: white;">
          <div class="card-body rounded" style="height: 95vh;background-color: #00000080;">
            <h2 class="card-title text-center mt-3">Suscripciones</h2>
            <h5 class="mt-4">¿En qué consiste nuestra Suscripción Mensual de Recorridos?</h5>
            <p>
              Nuestra suscripción te brinda acceso ilimitado a una variedad de recorridos emocionantes y experiencias únicas durante el mes que hayas pagado. Imagina pasear por pintorescas calles históricas, adentrarte en la naturaleza en su máximo esplendor, sumergirte en la rica cultura local . Cada mes te llevaremos a un nuevo destino, ofreciéndote la oportunidad de vivir momentos inolvidables.
            </p>
            <h5 class="mt-4">Ventajas de Nuestra Suscripción:</h5>
            <p class="mt-3"><b>Exploración en Realidad Aumentada:</b> <br>Te invitamos a un emocionante viaje a través de la historia en realidad aumentada. Descubre puntos de interés histórico en la ciudad mientras exploras con tu dispositivo móvil. Desde monumentos emblemáticos hasta lugares ocultos, cada rincón cobra vida con detalles históricos fascinantes.</p>
            <p class="mt-3"><b>Diversidad de Puntos de Interés: </b> <br>Sumérgete en una amplia gama de puntos de interés histórico. Desde encantadores rincones antiguos hasta hitos monumentales, experimentarás la evolución de la ciudad a lo largo del tiempo.</p>
            <p class="mt-3"><b>Explora a Tu Propio Ritmo: </b> <br>No hay límites para tu curiosidad. Con nuestra suscripción, tienes la libertad de explorar los puntos de interés a tu ritmo. ¿Te apetece volver a un lugar especial? ¡Hazlo sin restricciones!</p>
            <p class="mt-3"><b>Renovación Flexible: </b> <br>Disfruta de la libertad de elegir. Tu suscripción está activa durante el mes que elijas y te permite sumergirte en la historia a tu manera. Si deseas continuar tu aventura histórica el próximo mes, la renovación es sencilla y sin complicaciones.</p>
            <p class="mt-3"><b>Precio: $10 dólares al mes.</b></p>
            <div class="mt-3">
               <button type="button" style="width: 100%;" class="btn btn-outline-light">Suscribite</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-0" >
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(45deg, rgb(8 8 8 / 7%),rgb(78 78 78 / 26%)), url(/media/images/7.jpg);
            background-size: cover;background-repeat: no-repeat;background-position: center center;height: 95vh;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="mb-3">¡Únete Hoy y Empieza Tu Viaje en el Tiempo!</h5>
                
               <button type="button" class="btn btn-outline-light mb-5">Suscribite</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}